<header>
    <img src="images/logo-dummy.png"/>
    <h1>This is a webpage</h1>
</header>
<main>
    <form name="logOnForm" id="logOnForm">
        <h2>Login</h2>
        <label>Username</label>
        <input name="username" id="lUserName" type="text">
        <label>Password</label>
        <input name="password" id="lUserPassword" type="text">

        <button type="submit">Log In </button>

    </form>
</main>
<footer>

</footer>

<script>

    let LogForm = document.getElementById("logOnForm");

    LogForm.addEventListener("submit", (e => {
        e.preventDefault();

        console.log("from has been submitted");
        validateLogOn();
    }));

    function validateLogOn() {
        var userName = document.logOnForm.username.value;
        var password = document.logOnForm.password.value;

        if (userName==null || userName==""){
            alert("Name can't be blank");
            return false;
        }else if(password.length<6){
            alert("Password must be at least 6 characters long.");
            return false;
        }
        switchPage("Views/userAdminstrationPage.html");
    }
</script>